<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#253944"/>
    <meta name="dicoding:email" content="rezaferdian145@gmail.com">
    <link rel="icon" href="../icons/Asset - C22-142-72x72.png">
    <link rel="apple-touch-icon" href="../icons/Asset - C22-142-192x192.png">
    <link rel="manifest" href="../app.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous">
    
    <title>CashTex</title>
  </head>
  <body>
    <div class="body-overlay"></div>
    <side-bar></side-bar>
    <div class="main">
      <div class="wrapper">
        <div id="content">
          <main-bar></main-bar>
          <div class="main-content"></div>
        </div>
      </div>
    </div>
  </body>
</html>