<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff"/>
    <meta name="dicoding:email" content="rezaferdian145@gmail.com">
    <link rel="icon" href="./icons/Asset - C22-142-72x72.png">
    <link rel="apple-touch-icon" href="./icons/Asset - C22-142-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <app-bar></app-bar>
    <div class="wrapper">
      <header-bar id="home"></header-bar>
      <section id="about">
      <div class="d-flex flex-column mb-3 align-items-center" style="height: 100vh; background-color: #fff">
        <div class="about">
          <h1 class= "fw-bolder text-center">About</h1>
          <div class="text-wrap"><p class="text-center">Cashtex merupakan aplikasi kasir yang memudahkan toko tekstil untuk 
          bertransaksi dengan pelanggannya. Cashtex dapat mengelola laporan seluruh transaksi penjualan, 
          tanpa harus  membeli mesin kasir. Aplikasi yang kami bangun berbasis website, bisa digunakan secara 
          offline, dan dapat digunakan di berbagai device</p>
          </div>
          </div>
  
          <div class="features">
            <h1 class= "fw-bolder text-center">Features</h1>
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="icon-box">
                    <div class="icon"><i class="uil uil-laptop"></i></div>
                    <h4 class="title">Dashboard</h4>
                    <p class="description">Anda dapat dengan mudah mengatur pengguna dan daftar transaksi dengan 
                    halaman dashboard</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <div class="icon"><i class="uil uil-file-info-alt"></i></div>
                    <h4 class="title">Report</h4>
                    <p class="description">Pantau hasil penjualan anda dengan halaman Report dengan jangka waktu yang dapat anda tentukan sendiri</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                  <div class="icon-box">
                    <div class="icon"><i class="uil uil-history-alt"></i></div>
                    <h4 class="title">Transaction history</h4>
                    <p class="description">Segala transaksi akan secara otomatis tercatat di halaman Transaction history</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <section id="team" class="team section-bg">
        
  
          <div class="section-title">
            <h2 class="fw-bolder text-center mb-md-4">Our Team</h2>
          </div>
          <div class="container">
          <div class="row justify-content-center mb-md-4">
            <div class="col-lg-4 col-md-6">
              <section class="box">
                <img src="../images/team/1668190263783.jpg" alt=""/>
                <header>
                  <h3 class="fw-bolder">Reza Ferdian</h3>
                </header>
                <p>Front End</p>
                <footer class="social">
                  <a href="https://github.com/Rezaferdian26"><i class="uil uil-github"></i></a>
                  <a href="https://www.linkedin.com/in/reza-ferdian-919b551b3/"><i class="uil uil-linkedin"></i></a>
                </footer>
              </section>
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="box">
                <img src="../images/team/1669532104043.jpg" alt=""/>
                <header>
                  <h3 class="fw-bolder">Faturrachman Mochammad</h3>
                </header>
                <p>Back End</p>
                <footer class="social">
                  <a href="https://github.com/faturra"><i class="uil uil-github"></i></a>
                  <a href="https://www.linkedin.com/in/faturrachmanmochammad"><i class="uil uil-linkedin"></i></a>
                </footer>
              </section>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
              <section class="box">
              <div class="d-grid align-items-center"><img src="../images/team/1668350420197.jpg" alt=""/></div>
                <header>
                  <h3 class="fw-bolder">Aldi Findani</h3>
                </header>
                <p>UI/UX</p>
                <footer class="social">
                  <a href="https://github.com/Aldifindani17"><i class="uil uil-github"></i></a>
                  <a href="https://www.linkedin.com/in/aldi-findani-1a1b3b256"><i class="uil uil-linkedin"></i></a>
                </footer>
              </section>
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="box">
                <img src="../images/team/1664201003708.jpg" alt=""/>
                <header>
                  <h3 class="fw-bolder">Gregorius Damar</h3>
                </header>
                <p>Front End</p>
                <footer class="social">
                  <a href="https://github.com/dqmirr"><i class="uil uil-github"></i></a>
                  <a href="https://www.linkedin.com/in/gregorius-damar-b8ab4b251"><i class="uil uil-linkedin"></i></a>
                </footer>
              </section>
            </div>
          </div>
          </div>
          </div>
      </section>

      <style>
        
      </style>

    <!-- Modal for Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title text-center w-100 font-weight-bold" id="loginModalLabel">Log in</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/kasir/">
            <div class="modal-body">
              <div class="input-field mb-3">
                <input type="email" placeholder="Enter your email" required>
                <i class="uil uil-envelope-alt icon"></i>
              </div>
              <div class="input-field mb-3">
                <input type="password" class="password" placeholder="Enter your password" required>
                <i class="uil uil-lock icon"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
              </div>
              <div class="form-check mb-3">
                <div class="checkbox-text">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div>
                <a href="#" class="text-secondary">Forgot Password?</a>
              </div>
              <button type="submit" aria-label="submit" class="btn btn-primary mb-3" onclick="window.location = '/kasir/'; return false;">Login Now</button>
              <p class="text-center">
                Not a member? <a href="#" class="text-secondary">Signup now</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>