.report {
    margin: 2px;
    min-height: 76vh;
    flex-direction: column;
    overflow: auto;

}

label.form-label {
    margin-bottom: 0;
}

.detail-report {
    background-color: #fff;
    max-width: 400px;
    border: 5px dashed #eaeaea;
    margin: auto;

    .row {
        margin: 0;
    }

    hr {
        border-top: 2px dashed black;
        margin: 0;
    }

    table tr td {
        text-transform: none;
        line-height: 1em;
    }
}

.print {
    max-width: 600px;
    margin: auto;
    
    button {
        display: block;
        width: 200px;
        margin: 20px auto;
    }
}