@import "bootstrap/scss/bootstrap";
@import "./app-bar.scss";
@import "./header-bar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.modal-body {
    .input-field {
        position: relative;
        height: 50px;
        width: 100%;
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-bottom: 2px solid #ccc;
            border-top: transparent;
            padding: 0 35px;
            transition: all 350ms;
        }
        input:is(:focus, :valid) {
            border-bottom-color: #8360c3;
        }
        input:is(:focus, :valid) ~ i {
            color: #8360c3;
        }
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            transition: all 350ms;
        }
        i.showHidePw {
            right: 0;
        }
    }
    .form-check {
        display: flex;
        justify-content: space-between;
    }
    button {
        width: 100%;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.form-registration{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.contentAbout{
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.btn btn-primary{
    margin-top: 15%;
}

.form-control{
    width:400px;
}

.wrapper{
    background-color: white;
}

.d-grid{
    margin-top: 5%;
}

.icon-box {
    padding: 20px;
    color: #212529;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .text-wrap{
    max-width:700px;
  }
  
  .icon-box:hover {
    border-color: #eaecef;
  }
  
  .icon-box:hover .title a {
    color: #212529;
  }
  
  .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .icon-box h4 a {
    color: #212529;
    transition: ease-in-out 0.3s;
  }
  
  .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .icon-box:hover {
    border-color: #DFF6FF;
    background-color:#DFF6FF;
    i{
      color:#151112;
    }
  }
  
  .icon-box:hover h4 a {
    color: #212529;
  }
  
  .fw-bolder{
    margin-top:10%;
  }

  .box {
		border: solid 3px #DFF6FF;
    border-radius: 5%;
		padding: 2.75em 1.75em 2.75em 1.75em;
    height:500px;
    transition: 0.3s;
	}

  .box:hover{
    background: #DFF6FF;
  }

		.box img {
			position: relative;
      width: 200px;
      left: 1em;
      padding: 10px 10px 0 10px;
      border-radius: 50%;
		}

		.box.post header {
			padding-top: 1em;
			margin: 0 0 2em 0;
		}

		.box.post h2 {
			font-size: 2.5em;
			letter-spacing: -0.015em;
		}

		.box.post header > p {
			margin-top: 1.25em;
			font-size: 1.25em;
		}

		.box footer ul.actions {
			margin-bottom: 0;
		}

   .social a, i{
      color: #919191;
      transition: 0.3s;
      font-size: 1.5em;
   }
   i:hover{
			color: #151112;
   }

  
   @media screen and (min-width: 968px){
     .content-about{
       max-height:100vh;
     }
    }
    
    @media screen and (min-width:800px){
      .icon-box p{
        height:60%;
        align-self:center;
      }
      
      .text-wrap{
        max-width:500px;
      }
  
      .content-about{
        height:120vh;
      }
      .box{
        width:100%;
      }

      .box img{
        width:60%;
      }
  }
  
    @media screen and (max-width: 760px){
      .box {
				padding: 25px 15px 20px 15px;
        text-align: center;
        margin-bottom: 40px;
			}

				.box .image {
          position: static;
					left: 15px;
					top: 15px;
					margin: -40px 0 40px -30px;
				}

				.box.post header {
					padding-top: 0;
					margin: 0 0 1em 0;
				}

				.box.post h2 {
					font-size: 1.5em;
					line-height: 1.5em;
				}

				.box.post header > p {
					margin-top: 0;
					font-size: 1em;
				}

      .text-wrap{
        max-width:500px;
      }
    
      .content-about{
        height:150vh;
      }
      
    }

  @media screen and (max-width: 980px) {

    .box{
      width: 100%;
    }
    .box img{
      left:2.5em;
    }

      .box footer ul.actions li {
        margin: 1em 0 0 0;
        display: block;
      }

        .box footer ul.actions li .button {
          width: 100%;
        }

        .box footer ul.actions li:first-child {
          margin-top: 0;
        }
  }
